.container{
   padding: 50px;
    .container__content{
        display: flex;
        justify-content: space-between;
        .container__content-item {
            display: flex;
            align-items: center;
            gap: 40px;
            .container__content-item__list{
                width: 1px;
                height: 30px;
                background: #000;
            }
            .container__content-item-1{
                p{
                    width: 150px;
                }
            }
        }
    }
    .container__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}