doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../sass/style.css")
        title Document
    body 
    div.container
        div.container__content 
            div.container__content-item 
                div 
                    img(src="../img/Group 4.png" alt="")
                div.container__content-item__list
                div.container__content-item-1 
                    p Something about lemon
            div.container__content-item  
                div 
                    img(src="../img/Group.png" alt="")
                div 
                    p how to eat
        div.container__item 
            div
                p 1/2
            div.container__item-img-frist
                img(src="../img/LEMON.png", alt="")
            div.container__item-img-second  
                img(src="../img/Group 7.png", alt="")
        div.container__title 
            div.container__title-img-frist 
                <img src="../img/Vector.png" alt="">
                <img src="../img/Vector (1).png" alt="">
            div.container__title-img-second 
                img(src="../img/cw1MAVs4wV8 (1).png", alt="")
            div 
                img(src="../img/clarity_search-line.png", alt="")
                
                